@model List<viacinema.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}
@using viacinema.Models

<div class="home">
    <h1>Movies</h1>
    <ul>
        @{
            foreach (Movie movie in @Model)
            {
                <li class="movie-container">
                    <h3 class="movie-title">@movie.Title</h3>
                    <img class="movie-image" src="@movie.ImageUrl" />
                    <p class="movie-release-date"><b>Release Date:</b> @movie.ReleaseDate.ToShortDateString()</p>
                    <p class="movie-genre"><b>Genre:</b> @movie.Genre</p>
                    <p class="movie-rating"><b>Rating:</b> @movie.Rating</p>
                    <p class="movie-description"><b>Description:</b> @movie.Description</p>
                </li>

            }
        }
    </ul>
</div>

<style>
    .home {
        .movie-container {
            .movie-image {
                width: 150px;
                height: 150px;
            }

        }
    }
</style>